<p class='mt-2'>Pour voter il faut soit vous inscrire, soit cliquer sur participer pour valider votre email.</p>
<form class="vote">
    <button type="submit" class="w-50 btn btn-lg btn-secondary fw-bold border-white bg-white">Participer</button>
</form>