
<!-- authentification -->
<div class="modal fade" id="authentification" tabindex="-1" role="dialog" aria-labelledby="Authentification" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-white bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Connexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="connexionform">
                    <div class="form-group">
                        <label for="email">Adresse email</label>
                        <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Entrer votre email">
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" name="password" class="form-control" placeholder="Mot de passe">
                    </div>
                    <div id="connexionAlert" class="d-none mt-3 alert alert-warning" role="danger">
                        Les identifiants sont incorrects
                    </div>
                    <div id="connexionSuccess" class="d-none mt-3 alert alert-success" role="success">
                        Vous êtes connecté, redirection dans 2 secondes ...
                    </div>
                    <button type="submit" class="btn mt-2 btn-primary">connexion</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- inscription -->
<div class="modal fade" id="inscription" tabindex="-1" role="dialog" aria-labelledby="Inscription" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-white bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="InscriptionLabel">Inscription</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="inscriptionform">
                    <div class="form-group">
                        <label for="email">Adresse email</label>
                        <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Entrer votre email">
                        <small id="emailHelp" class="form-text text-muted">Nous ne revendons pas vos données.</small>
                    </div>
                    <div class="form-group">
                        <label for="text">Prenom</label>
                        <input type="text" name="prenom" class="form-control" aria-describedby="emailHelp" placeholder="Entrer votre prenom">
                    </div>
                    <div id="inscriptionSuccess" class="d-none mt-3 alert alert-success" role="success">
                        Vous allez recevoir un email de confirmation ... (Pensez à vérifier vos spam)
                    </div>
                    <div id="inscriptionAlert" class="d-none mt-3 alert alert-warning" role="danger">
                        Il y a un problème avec cette adresse email ...
                    </div>
                    <input type="hidden" name="act" class="form-control" id="act" value="inscription">
                    <button type="submit" class="btn mt-2 btn-primary">valider</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- validation -->
<div class="modal fade" id="validation" tabindex="-1" role="dialog" aria-labelledby="validation" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-white bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Finalisation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Pour finir votre inscription, veuillez enregistrer un mot de passe.</p>
                <form id="validationform">
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" name="password" class="form-control" id="valpassword" placeholder="Mot de passe">
                    </div>

                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" name="password2" class="form-control" id="valpassword2" placeholder="Encore">
                    </div>

                    <div id="validationSuccess" class="d-none mt-3 alert alert-success" role="success">
                        Vous pouvez vous connecter avec votre mot de passe.
                    </div>

                    <div id="validationAlert" class="d-none mt-3 alert alert-warning" role="danger">
                        Les mots de passe ne correspondent pas.
                    </div>
                    <input type="hidden" name="token" class="form-control" id="token" value="">
                    <button type="submit" class="btn mt-2 btn-primary">validation</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Condition -->
<div class="modal fade" id="information" tabindex="-1" role="dialog" aria-labelledby="information" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-white bg-dark">
              <div class="modal-header">
          <h5 class="modal-title" id="informationTitle">Informations importantes</h5>
        </div>
        <div class="modal-body">
            <p>Ce site internet est libre et indépendant. Il est à l'état de projet pour comprendre les besoins d'expression des personnes.</p>
            <h4>Nos objectifs</h4>
            <ul>
                <li>Créer un cadre serein pour que les personnes puissent s'exprimer sans polémique interminable, il y a assez de réseaux sociaux pour cela.</li>
                <li>Créer une zone de confidentialité pour le respect de la vie privée.</li>
                <li>Tendre vers un système où les personnes sont identifiées de manière unique et où nous garantirons qu'un vote correspond bien à une personne. Nous éliminons tous votes provenant de robot au fur et à mesure.</li>
            </ul>

            <h4>Garantie sur les données</h4>
            <ul>
                <li>Nous n'enregistrons pas si vous votez pour ou contre, seulement si vous avez voté (d'où l'inscription)</li>
                <li>Le code source de ce site internet est disponible <a href="https://gitlab.com/baimard/vote" class="text-white">ici</a></li>
                <li><u>Nous n'utilisons qu'un cookie, pour ne pas que ce message apparaisse à votre prochaine visite</u></li>
                <li>Vous pouvez demander un accès à vos données, ou une suppression en contactant le <a href="mailto:vote@cybercorp.fr">délégué à la protection des données</a></li>
                <li>Nous ne garantissons pas le résultat que vous visualisez.</li>
            </ul>
            <p>Nous voulons donner à chacun la possibilité de pouvoir s'exprimer rapidement. <br/>Merci à tous de votre participation.</p>
            <p class="mt-3">
                Pour partager rapidement
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.jeveuxvoter.fr"><i class="social bi bi-facebook"></i></a>
                <a href="https://twitter.com/intent/tweet?url=https://www.jeveuxvoter.fr&text=Venez%20voter%20!"><i class="social bi bi-twitter"></i></a>
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="close btn btn-secondary active" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
</div>

<script>
    $("body").on('click','.close',function(){
        $(this).parents('.modal').modal('hide');
    })

    $("#authentification").submit(function(e) {
        e.preventDefault();
        var form = $('#connexionform');
        var url = 'controller/authentification.php';
        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(),
            success: function(data){
                console.log(data);
                $( "#connexionSuccess" ).removeClass("d-none")
                setTimeout(function(){
                    document.location.reload();
                }, 2000)     
            },
            error: function (ajaxContext) {
                $( "#connexionAlert" ).removeClass("d-none")
            }
        });
    });

    $("#inscription").submit(function(e) {
        e.preventDefault();
        var form = $('#inscriptionform');
        var url = 'controller/inscription.php';
        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(),
            success: function(data){
                console.log(data);
                $( "#inscriptionSuccess" ).removeClass("d-none")
                setTimeout(function(){
                    document.location.reload();
                }, 5000)     
            },
            error: function (ajaxContext) {
                $( "#inscriptionAlert" ).removeClass("d-none")
            }
        });
    });

    $("#validation").submit(function(e) {
        e.preventDefault();
        var form = $('#validationform');
        var url = 'controller/validation.php';
        if($('#valpassword').val()===$('#valpassword2').val()){
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function(data){
                    console.log(data);
                    $( "#validationSuccess" ).removeClass("d-none")
                    setTimeout(function(){
                        window.location.replace('https://www.jeveuxvoter.fr');
                    }, 5000)     
                },
                error: function (data) {
                    alert("Jeton ou mot de passe invalide");
                }
            });
        }else{
            $( "#validationAlert" ).removeClass("d-none")
                setTimeout(function(){
                    $( "#validationAlert" ).addClass("d-none")
                }, 5000) 
        }

    });
</script>