<p>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.jeveuxvoter.fr"><i class="social bi bi-facebook"></i></a>
    <a href="https://twitter.com/intent/tweet?url=https://www.jeveuxvoter.fr&text=Soutenez%20nous%20!"><i class="social bi bi-twitter"></i></a>
</p>