<p class="lead">Voter</p>
<p class="lead">
    <form class="vote">
        <input type="hidden" name="action" value="pour">
        <input type="hidden" name="question" value="<?php echo $question;?>">
        <button type="submit" class="w-25 btn btn-lg btn-secondary fw-bold border-white bg-white">POUR</button>
    </form>
    <form class="vote mt-3">
        <input type="hidden" name="action" value="contre">
        <input type="hidden" name="question" value="<?php echo $question;?>">
        <button type="submit" class="w-25 btn btn-lg btn-secondary fw-bold border-white bg-white">CONTRE</button>
    </form>
</p>